.User {
  display: flex;
  align-items: center;
  padding: 16px 8px;
  background-color: rgba(#000, 0.01);

  figure {
    width: 48px;
    height: 48px;
    border-radius: 32px;
    position: relative;
    overflow: hidden;
    margin: 0;
    margin-right: 16px;
    img {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 100%;
      height: auto;
      transform: translate(-50%, -50%);
    }
  }
  p {
    font-size: 1rem;
    color: #696767;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 8px;
  }

  figure, p {
    display: inline-block;
  }

  .logout {
    display: block;
    color: #696767;
    cursor: pointer;
    font-size: 12px;
    transition: color 150ms ease-in;

    &:hover {
      color: #651FFF;
    }
  }
}
