.spotify-button{
  height: 42px;
  border-radius: 24px;
  outline: none;
  border: none;
  color: #ffffff;
  background-color: #1DB954;
  font-weight: bold;
  font-family: sans-serif;
  text-transform: uppercase;
  width: 100%;
}
