.playlist {
  background-color: white;

  display: flex;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;

  &:hover {
    cursor: pointer;
    .playlist-info {
      p {
        color: #651FFF;
      }
    }

  }

  &-logo {
    margin: 0;
    height: 64px;
    width: 64px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;

    p {
      margin: 0;
      margin-bottom: 1px;
      color: #696767;
      transition: color 150ms ease-in;
    }

    p:first-child {
      font-weight: bold;
    }

    p:last-child {
      font-size: 0.8rem;
      opacity: 0.54;
    }
  }
}
