.main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  width: 100vw;

  .Sidenav {
    background-color: #FFFFFF;
    width: 20%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;

    .Playlist {
      flex: 1;
      height: auto;
      overflow: hidden;
      position: relative;
    }
  }

  .Content {
    width: 80%;
    height: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .Player {
      flex: 1;
      background-color: rgba(#E6E6E6, 0.6);
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      color: #696767;
    }

    .Player, .Tracks {
      width: 100%;
      box-sizing: border-box;
    }
  }
  .Playlist, .Content {
    order: 1;
  }

  app-player {
    display: flex;
    width: 100% !important;
    flex-flow: column;
    height: 100%;
  }

}
