<div class="main">
  <section class="Sidenav">
    <section class="User">
      <figure>
        <img src="http://vignette2.wikia.nocookie.net/marvelcentral/images/9/97/Tony-Stark.jpg/revision/latest?cb=20130429010603">
      </figure>
      <p>Tony Stark</p>
    </section>
    <perfect-scrollbar class="Playlist container">
      <app-playlists></app-playlists>
    </perfect-scrollbar>
  </section>
  <section class="Content">
    <div class="Player">
      <p>Player</p>
    </div>
    <div class="Tracks">
      <ul>
        <li><img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/ae/Thegetawayalbum.jpg/220px-Thegetawayalbum.jpg"></li>
        <li><img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/ae/Thegetawayalbum.jpg/220px-Thegetawayalbum.jpg"></li>
        <li><img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/ae/Thegetawayalbum.jpg/220px-Thegetawayalbum.jpg"></li>
        <li><img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/ae/Thegetawayalbum.jpg/220px-Thegetawayalbum.jpg"></li>
      </ul>
    </div>
  </section>
</div>
